*.swp
data/

builddir/

# Don't add huge DEM data files
*.hgt
*.dem
*.dem.rsc

# SAR files
*.rsc
*.geo
*.int
*.unw
*.unwflat
*.npy
*.db.*
*.h5


# Julia profiling files
*.mem

*.log
.ipynb_checkpoints
